body {
    --fondo-oscuro: #2e2621;
    --texto-claro: #d1c0b3;
    --acento-tierra: #6b5c51;
    
    background-color: var(--fondo-oscuro);
    color: var(--texto-claro);
    font-family: 'Times New Roman', Times, serif; /* Clásico y sobrio */
    margin: 0;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
}

.soneto-container {
    max-width: 550px;
    width: 90%;
    padding: 40px;
    border: 1px solid var(--acento-tierra);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
}

header {
    text-align: center;
    border-bottom: 2px solid var(--acento-tierra);
    padding-bottom: 15px;
    margin-bottom: 30px;
}

h1 {
    font-family: Georgia, serif; /* Fuente contrastada (Serif vs Serif) */
    font-size: 2.2em;
    font-weight: normal;
    letter-spacing: 2px;
}

.autor {
    font-style: italic;
    color: var(--acento-tierra);
}

/* Estructura del soneto */
.estrofa {
    margin-bottom: 25px;
}

.estrofa p {
    margin: 0;
    line-height: 1.8;
}

.terceto.final {
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px dashed var(--acento-tierra);
}

.terceto.final p:last-child {
    font-weight: bold;
    color: #e0d0c0; /* Destacar la sentencia final */
    font-size: 1.1em;
}