/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-fondo-canvas: hsl(0, 0%, 0%);
  --color-primario: hsl(0, 0%, 46%);
  --color-texto-primario: hsl(0, 0%, 100%);
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.contenedor {
  position: relative;

  .app-canvas {
    width: 90vw;
    height: 90vh;
    background-color: var(--color-fondo-canvas);
  }

  .leyenda {
    position: absolute;
    top: 4%;
    left: 4%;
    color: var(--color-texto-primario);
    background-color: var(--color-primario);
    padding: 0.5rem 1rem;
 
  }


}

