/* style.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-fondo-canvas: hsl(0, 0%, 0%);
}

body {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.app-canvas {
  width: 90vw;
  height: 90vh;
  background-color: var(--color-fondo-canvas);
}


